{% include "give_quick_test.html" %}
<fieldset class="no-brd brd-t-def m-t-2">
  <legend class="m-c block font-b">Or Practise</legend>
</fieldset>
<div class="m-t-b-2">
    <div class="w-fc m-c m-t-b-6">
        <a href="/choose-practice-material/chapters" class="bg-primary font-b p-4 clr-white rnd-4">Chapter-wise Questions</a>
    </div>
    <div class="w-fc m-c m-t-4">
        <a href="/choose-practice-material/admission-tests" class="bg-primary p-4 clr-white font-b rnd-4">Previous Year Questions</a>
    </div>
    <br>
</div>
