{% extends "base.html" %}
{% load static %}

{% block content %}
    <fieldset class="p-2 rnd-3 no-brd sdw">
        <legend class="relative"><img class="pic-sm-3 rnd sdw brd-primary-2" src="{{user.pic.url}}"></legend>
        <span class="font-xl m-2 block font-b">{{user.get_full_name}} &nbsp;<a href="{% url 'update-full-name' %}" class="clr-b-5"><span class="fa fa-pen clr-b-5 font-sm"></span></a></span>
        <!-- <a href="{% url 'update-full-name' %}" class="clr-b-5 m-2 font-sm font-b"><span class="fa fa-images clr-b-5"></span> Change profile picture</a> -->
        
        <fieldset class="m-t-b-6 no-brd brd-t-def">
            <legend class="font-b">Contacts</legend>
            <span class="m-2 block"><span class="fa fa-phone-alt"></span> {{user.phone.number}} &nbsp;<a href="{% url 'add-phone-number' %}" class="clr-b-5"><span class="fa fa-pen clr-b-5 font-sm"></span></a></span>
            <span class="m-2 block"><span class="fa fa-envelope"></span> {{user.email}}</span>
        </fieldset>
        <fieldset class="m-t-b-6 no-brd brd-t-def">
            <legend class="font-b">Security</legend>
            <a href="{% url 'set-password' %}" class="clr-b-5 m-2"><span class="fa fa-key clr-b-5"></span> Change password</a>
        </fieldset>
    </fieldset>

{% endblock content %}