{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="m-c resp-70-90 p-2 rnd-1 sdw">
        <!-- <span class="font-xl m">Update Full Name</span> -->
        <form id="pwd-form" method='POST'>
            {% if errors %}
              {% include "errors.html" with errors=errors %}
            {% endif %}
            {% csrf_token %}
            <fieldset class="no-brd brd-def rnd-1 m-t-b-4">
                <legend class="font-b p">Password</legend>
                <input class="m no-brd bg-transparent w-90" type="password" name="password" placeholder="Password" required>
            </fieldset>
            <fieldset class="no-brd brd-def rnd-1 m-t-b-4">
                <legend class="font-b p">Confirm Password</legend>
                <input class="m no-brd bg-transparent w-90" type="password" name="confirm_password" placeholder="Confirm password" required>
            </fieldset>
            
            <input class="m-2" id="checkbox" type="checkbox" onclick="togglePasswordVisibility('pwd-form')">
            <label>Show password</label>

            <div class="m-t-b-2 w-fc m-c">
                <button type="submit" class="m p-2 bg-primary clr-white rnd-1">Set Password</button>
            </div>
        </form>
    </div>
{% endblock content %}